.chat-area header {
	display: flex;
	align-items: center;
	padding: 18px 30px;
}
.chat-area header .back-icon {
	font-size: 18px;
	color: #333;
}
.chat-area header img {
	height: 50px;
	width: 50px;
}
.chat-area header span {
	font-size: 17px;
	font-weight: 500;
}
