@import url(./registration.css);
@import url(./login.css);
@import url(./user.css);
@import url(./chat.css);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	/* color: #fff; */
}
