body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

h2 {
	text-align: center;
	margin-top: 30px;
}

.update-1 {
	width: 400px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
	width: 100%;
	border-collapse: collapse;
}

table td,
table th {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

table tr:hover {
	background-color: #f9f9f9;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.update {
	width: 100px;
	height: 100px;
	background-color: #31ff38;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.update input[type="submit"]:hover {
	background-color: #45a049;
}
